# enviornment=prod for deployed instances
DEBUG=True

# Change this value to something random and secret
SECRET_KEY='development key'

# SQL connection string
CONNECTION_STRING='sqlite:///pong.db'

# Redis connection string
# http://docs.celeryproject.org/en/3.0/getting-started/brokers/redis.html
REDIS_CONNECTION='redis://localhost:6379/0'
